@model List<MovieDetail>

<div class="row">
    @foreach (MovieDetail r in Model)
    {
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@r.Poster" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@r.Title</h5>
                            <p class="card-text">@r.Plot</p>
                            <p class="card-text"><small class="text-muted">@r.Released</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>