@model List<MovieDetail>

<div class="row">
    @foreach (MovieDetail r in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@r.Poster" class="img-thumbnail" alt="...">
            <div class="card-body">
                <h5 class="card-title">@r.Title</h5>
                <p class="card-text">@r.Plot</p>
                <p class="card-text"><small class="text-muted">@r.Released</small></p>
            </div>
        </div>
    }
</div>